{
  "openapi": "3.0.1",
  "info": {
    "version": "v1",
    "title": "Batch API",
    "description": "The Batch service API allows the merchants to upload files with multiple transactions data that will be processed asynchronously by the system."
  },
  "servers": [
    {
      "url": "https://apitest.payengine.de/v1",
      "description": "Test"
    },
    {
      "url": "https://api.payengine.de/v1",
      "description": "Live"
    }
  ],
  "paths": {
    "/batch/upload": {
      "post": {
        "summary": "Upload a batch file",
        "description": "An endpoint to upload a csv batch file using multipart/form-data encoding.\n",
        "operationId": "uploadBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "uploadedFile": {
                    "type": "string",
                    "description": "A binary string representation of a file with batch transactions",
                    "format": "binary"
                  }
                },
                "required": [
                  "uploadedFile"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUploadBadFile"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/batch": {
      "get": {
        "summary": "Get a list of batch files",
        "description": "Endpoint to receive a list of uploaded batch files.\n\nThe following parameters can be used as filter.\n- page\n- size\n- createdAtAfter\n- createdAtBefore\n- batchRequestFileName\n- batchSequence\n- generatedAtAfter\n- generatedAtBefore\n\nThe following parameter names can be used for ordering the results.\n- createdAt\n- batchRequestFileName\n- batchSequence\n- generatedAt\n",
        "operationId": "getBatches",
        "responses": {
          "200": {
            "description": "A list of batch files.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchResponseList"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/batch/{batchId}": {
      "get": {
        "summary": "Get a specific batch file",
        "description": "Endpoint to receive the meta data of a specific batch file referencing the batchId\n",
        "operationId": "getBatch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "Specific batch transaction",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/batch/{batchId}/response/download": {
      "get": {
        "summary": "Download a batch response file",
        "description": "An endpoint to download the response file for a specific batch file that was uploaded.\n\n\nThe batchId of the corresponding batch file that was uploaded has to be provided as an input parameter.\n",
        "operationId": "downloadBatch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "List of csv generated file when the uploaded file is successfully parsed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {}
          },
          "404": {
            "description": "Not found caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BatchResponseList": {
        "title": "BatchResponseList",
        "type": "object",
        "properties": {
          "elements": {
            "type": "array",
            "description": "A list of batch files.",
            "items": {
              "$ref": "#/components/schemas/BatchResponse"
            }
          },
          "totalPages": {
            "minimum": 1,
            "type": "number",
            "description": "A counter for the total pages returned.",
            "format": "int"
          }
        }
      },
      "BatchResponse": {
        "title": "BatchResponse",
        "type": "object",
        "properties": {
          "batchId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The identifier of the batch transaction. Created by payengine"
          },
          "createdAt": {
            "type": "number",
            "description": "This timestamp indicates the creation date.",
            "format": "date-time"
          },
          "generatedAt": {
            "type": "number",
            "description": "This timestamp indicates the generation date",
            "format": "date-time"
          },
          "batchSequence": {
            "type": "number",
            "description": "Match the number of operation line records in file header"
          },
          "version": {
            "type": "number",
            "description": "Match the version in file header"
          },
          "batchRequestFileName": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Uploaded file with batch transactions"
          },
          "batchResponseFileName": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Parsed result file with batch transactions"
          }
        },
        "example": {
          "id": "BatchFile-0cdecdf5-e957-49b5-9324-b5734545aaec",
          "batchSequence": 14359,
          "version": 1,
          "createdAt": 1538587140000,
          "generatedAt": 1234556777,
          "batchRequestFileName": "merchant_kjrysmfssx_11.csv",
          "batchResponseFileName": "merchant_kjrysmfssx_1_result.csv",
          "processStatus": "COMPLETE"
        }
      },
      "BatchUploadBadFile": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/batch/upload"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "code": {
            "type": "number",
            "example": 70000
          },
          "globalTrackId": {
            "type": "string",
            "example": "da22c.1403614633.2558915615.1899728007"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchUploadError"
            }
          }
        }
      },
      "BatchUploadError": {
        "title": "Error",
        "type": "array",
        "example": [
          {
            "code": 70009,
            "message": "Sequence number from filename doesn't match the file header."
          },
          {
            "code": 70015,
            "message": "Batch file with this sequence number already exists."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "BatchNotFound": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/batch/{batchId}"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 404
          },
          "code": {
            "type": "number",
            "example": 70013
          },
          "globalTrackId": {
            "type": "string",
            "example": "Batch file with such id does not exist"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchFileErrors"
            }
          }
        }
      },
      "BatchFileErrors": {
        "title": "Error",
        "type": "array",
        "example": [
          {
            "code": 70013,
            "message": "Batch file with such id does not exist."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "BatchResponseNotFound": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/batch/{batchId}/response/download"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 404
          },
          "code": {
            "type": "number",
            "example": 70014
          },
          "globalTrackId": {
            "type": "string",
            "example": "da22c.313234489.1442735643.2505659661"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchFileResultErrors"
            }
          }
        }
      },
      "BatchFileResultErrors": {
        "title": "Error",
        "type": "array",
        "example": [
          {
            "code": 70014,
            "message": "The result file is not available yet."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "Basic",
        "description": "Authorization: Basic base64(merchantId:apiKey)"
      }
    }
  }
}
